*{
	padding: 0;
	margin: 0;
	--color-principal:#B71C1C;
	--color-secundario:#4A148C;
}
a{
	
	text-decoration: none;

}
.btn{
	padding: 0.5em 1em;
	margin: 2% 0;
	border:none;
	background: var(--color-principal);
	color: white;
	font-family: 'Roboto',sans-serif;
}
form{
	width: 90%;
	margin: 5% 5%;
}
header{
	width:100%;
	background: var(--color-principal);
	color: white;
	line-height: 2em;
	font-family: 'Roboto',sans-serif;
}
header h1,h2,h3,h4,h5,h6{
	display: inline-block;
	margin: 0 2%;
}
header a{
	color:white;
}

input[type=text],input[type=password]{
	width: 100%;
	line-height: 1.5em;
}

label{
	display: block;
	font-family: 'Roboto',sans-serif;
	line-height: 1.5em;
}
.right{
	display: inline-block;
	float: right;
	margin: 0 2%;
}
table{
	width: 90%;
	margin: 5% 5%;
	box-shadow: 2px 2px 2px rgba(0,0,0,1);
	border-collapse: collapse;
}
table th,td{
	border: 1px solid black;
	line-height: 2em;
}
table th{
	background: var(--color-principal);
	color: white;
	font-family: 'Roboto',sans-serif;
}

